body {
    background-color: burlywood;
}
li{
    display: inline;
}
form{
    margin-left: 50px;
    margin-right:50px;
    margin-top: 50px;

}
.main-container{
    padding: 10px;
    margin: 10px auto;
}
.right-side{
    text-align: center;
}

.side-bar-element{
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
}

